.group-child57 {
  position: absolute;
  height: 100%;
  width: 99.85%;
  top: 0;
  right: 0.01%;
  bottom: 0;
  left: 0.13%;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
}
.group-child58 {
  position: absolute;
  height: 5.61%;
  width: 0.13%;
  top: 59.87%;
  right: 50.15%;
  bottom: 34.52%;
  left: 49.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child59 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-red);
}
.download-resume5 {
  position: absolute;
  height: 50%;
  width: 55.64%;
  top: 25%;
  left: 26.46%;
  display: inline-block;
}
.rectangle-parent16 {
  position: absolute;
  height: 5.61%;
  width: 49.58%;
  top: 59.87%;
  right: 50.28%;
  bottom: 34.52%;
  left: 0.15%;
}
.group-3-frame-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-200);
}
.view-portfolio1 {
  position: absolute;
  height: 54.55%;
  width: 43.64%;
  top: 25%;
  left: 28.06%;
  display: inline-block;
}
.group-3-frame {
  position: absolute;
  height: 5.61%;
  width: 50.15%;
  top: 59.87%;
  right: 0;
  bottom: 34.52%;
  left: 49.85%;
  cursor: pointer;
}
.group-child60,
.group-child61 {
  position: absolute;
  height: 0.25%;
  width: 99.85%;
  top: 65.35%;
  right: 0;
  bottom: 34.39%;
  left: 0.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child61 {
  height: 0.13%;
  width: 100%;
  top: 59.81%;
  bottom: 40.06%;
  left: 0;
}
.hi-im1 {
  margin: 0;
}
.tandin-tshewang3 {
  margin: 0;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
}
.hi-im-tandin-container1 {
  position: absolute;
  height: 29.43%;
  width: 29.18%;
  top: 19.62%;
  left: 6.63%;
  display: inline-block;
  font-size: var(--font-size-5xl);
  color: var(--color-red);
}
.group-child62,
.group-child63 {
  position: absolute;
  height: 0.25%;
  width: 3.98%;
  top: 39.36%;
  right: 89.52%;
  bottom: 60.38%;
  left: 6.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-child63 {
  height: 59.24%;
  width: 62.07%;
  top: 0.64%;
  right: 0;
  bottom: 40.13%;
  left: 37.93%;
  object-fit: cover;
}
.rectangle-parent15 {
  position: absolute;
  height: 94.35%;
  width: 58.91%;
  top: 3.25%;
  right: 14.69%;
  bottom: 2.4%;
  left: 26.41%;
  font-size: var(--font-size-lg);
}
.macbook-air-1-child7 {
  position: absolute;
  height: 100%;
  width: 23.44%;
  top: 0;
  right: 76.56%;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-300);
}
.macbook-air-1-child8 {
  position: absolute;
  height: 100%;
  width: 0.1%;
  top: 0;
  right: 92.11%;
  bottom: 0;
  left: 7.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home8 {
  width: 5.55%;
  top: 42.31%;
  cursor: pointer;
}
.about13,
.contact14,
.home8,
.portfolio15,
.tools10 {
  position: absolute;
  height: 3%;
  left: 9.84%;
  line-height: 30px;
  display: inline-block;
}
.about13 {
  width: 5.55%;
  top: 45.91%;
  filter: blur(3px);
}
.contact14,
.portfolio15,
.tools10 {
  width: 7.19%;
  top: 49.52%;
  cursor: pointer;
}
.contact14,
.tools10 {
  top: 56.73%;
  left: 9.92%;
}
.contact14 {
  top: 53.13%;
  left: 9.84%;
}
.black-and-white-collection-208,
.icon-facebook8,
.icon-instagram8,
.icon-menu-frame,
.icon-phone8 {
  position: absolute;
  height: 12.5%;
  width: 8.13%;
  top: 0;
  right: 83.75%;
  bottom: 87.5%;
  left: 8.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon-facebook8,
.icon-instagram8,
.icon-menu-frame,
.icon-phone8 {
  height: 3.61%;
  width: 2.34%;
  top: 90.14%;
  right: 87.81%;
  bottom: 6.25%;
  left: 9.84%;
}
.icon-instagram8,
.icon-menu-frame,
.icon-phone8 {
  right: 84.61%;
  left: 13.05%;
}
.icon-menu-frame,
.icon-phone8 {
  right: 81.41%;
  left: 16.25%;
}
.icon-menu-frame {
  height: 3.82%;
  width: 2.73%;
  top: 3.97%;
  right: 3.28%;
  bottom: 92.21%;
  left: 93.98%;
}
.about14 {
  position: absolute;
  height: 4.21%;
  width: 10.63%;
  top: 67.67%;
  left: 30.31%;
  font-size: var(--font-size-17xl);
  display: inline-block;
  color: var(--color-black);
}
.macbook-air-1-child9 {
  position: absolute;
  height: 0.24%;
  width: 2.34%;
  top: 74.4%;
  right: 67.42%;
  bottom: 25.36%;
  left: 30.23%;
  border-top: 2px solid var(--color-red);
  box-sizing: border-box;
}
.i-am-a-container1 {
  position: absolute;
  height: 19.83%;
  width: 53.91%;
  top: 76.68%;
  left: 30.31%;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  display: inline-block;
}
.instagran8,
.tandindd8 {
  position: absolute;
  top: 750px;
  left: 126px;
  font-size: var(--font-size-smi);
  text-decoration: underline;
  font-family: var(--font-inter);
  color: inherit;
  display: inline-block;
  width: 30px;
  height: 30px;
  opacity: 0;
}
.instagran8 {
  left: 167px;
}
.macbook-air-15 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-100);
  overflow: hidden;
}
.macbook-air-1-frame {
  position: relative;
  width: 100%;
  height: 832px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inika);
}
