body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inika: Inika;
  --font-inter: Inter;
  --font-island-moments: "Island Moments";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-smi: 13px;
  --font-size-17xl: 36px;
  --font-size-13xl: 32px;
  --font-size-9xl: 28px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-5xl: 24px;
  --font-size-lg: 18px;
  --font-size-51xl: 70px;

  /* Colors */
  --color-gray-100: #252628;
  --color-gray-200: #0e1934;
  --color-gray-300: #0e1835;
  --color-black: #000;
  --color-lightgray: #cbcbcb;
  --color-white: #fff;
  --color-dimgray: #4f4e4e;
  --color-red: #fa0f0f;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-xl: 20px;
}
